html {
	font-size: 20px;
	line-height: 38px;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	line-height: 1.9;
	color: #333;
	background: #f9f9f9;
	padding: 1em;
}

main {
	max-width: 600px;
	margin: auto;
}

nav {
	padding: 2em 0 1em;
	text-align: center;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 0.8em;
	margin: 0 1em;
	letter-spacing: 1px;
}

h1 {
	font-weight: 400;
	font-size: 2.85em;
	line-height: 1.333;
	margin-top: 0.666em;
	margin-bottom: 1.333em;
}

h2 {
	font-weight: 400;
	font-size: 2em;
	line-height: 1.9;
	margin-top: 0.95em;
	margin-bottom: 0.95em;
}

h3 {
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.3571em;
	margin-top: 1.357em;
	margin-bottom: 0;
}

h4,
h5 {
	font-size: 1em;
	line-height: 1.9;
	margin-top: 1.9em;
	margin-bottom: 0;
}

p,
ul,
ol,
pre,
blockquote {
	margin-top: 0;
	margin-bottom: 1.9em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	border: 1px solid #eee;
	margin: -1px 0;
}

a {
	color: #39cc71;
}

a,
b,
code {
	line-height: 0;
}

img {
	max-width: 100%;
	margin: 0 auto 1.9em;
	display: block;
}

pre {
	font-family: 'Inconsolata', monospace;
	background: #333;
	color: #f9f9f9;
	font-size: 0.8em;
	line-height: 1.5;
	padding: 3em;
	margin-left: -3em;
	margin-right: -3em;
}

::selection {
	background: #333;
	color: #f9f9f9;
}

::-moz-selection {
	background: #333;
	color: #f9f9f9;
}

pre::selection {
	background: #f9f9f9;
	color: #333;
}

pre::-moz-selection {
	background: #f9f9f9;
	color: #333;
}

/*
 * Blog archive specific CSS
 */
li > article {
	border-bottom: 1px solid #eee;
}

h3 a {
	text-decoration: none;
}
