html, .root {
  font-size: 20px;
  line-height: 38px;
}
body, .article {

font-family: 'Noto Serif', serif;
font-family: 'Noto Serif', serif;
  font-size: 20px;
  line-height: 38px;
  max-width: 600px;
  margin: auto;
}
h1, .h1 {

font-weight: normal;
font-weight: normal;
  font-size: 47px;
  line-height: 76px;
  margin-top: 38px;
  margin-bottom: 76px;
}
h2, .h2 {

font-weight: normal;
font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 38px;
}
h3, .h3 {

font-weight: normal;
font-weight: normal;
  font-size: 27px;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 0px;
}
h4, .h4 {


  font-size: 20px;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 0px;
}
h5, .h5 {


  font-size: 20px;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote  {
  margin-top: 0px;
  margin-bottom: 38px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

