html, .root {
  font-size: 18px;
  line-height: 34px;
}

body, .article {
font-family: 'Noto Serif', serif;
  font-size: 1em;
  line-height: 1.88888889em;
	color: #333;
	background: #f9f9f9;
	padding: 1em;
}

main {
	max-width: 600px;
	margin: auto;
}

nav {
	padding: 1em 0 1em;
	text-align: center;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 0.8em;
	margin: 0 1em;
	letter-spacing: 1px;
}

h1, .h1 {
font-weight: normal;
  font-size: 2.38888889em;
  line-height: 1.58139535em;
  margin-top: 0.79069767em;
  margin-bottom: 1.58139534em;
}
h2, .h2 {
font-weight: normal;
  font-size: 1.77777778em;
  line-height: 1.0625em;
  margin-top: 1.0625em;
  margin-bottom: 1.0625em;
}
h3, .h3 {
font-weight: normal;
  font-size: 1.33333333em;
  line-height: 1.41666667em;
  margin-top: 1.41666667em;
  margin-bottom: 0em;
}
h4, h5 {
  font-size: 1em;
  line-height: 1.88888889em;
  margin-top: 1.88888889em;
  margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote  {
  margin-top: 0em;
  margin-bottom: 1.88888889em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr {
	border: 1px solid #eee;
	margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

a {
	color: #39cc71;
}

img {
	max-width: 100%;
	margin: 0 auto 1.9em;
	display: block;
}

pre {
	font-family: 'Inconsolata', monospace;
	background: #333;
	color: #f9f9f9;
	font-size: 0.9em;
	padding: 1.45em;
	margin-left: -1.6em;
	margin-right: -1.6em;
	overflow-x: scroll;
}

::selection {
	background: #333;
	color: #f9f9f9;
}

::-moz-selection {
	background: #333;
	color: #f9f9f9;
}

pre::selection {
	background: #f9f9f9;
	color: #333;
}

pre::-moz-selection {
	background: #f9f9f9;
	color: #333;
}
